env/
venv/
.venv/

credentials.json

__pycache__/
*.pyc

venv/
.env
__pycache__/
*.pyc

dataset/
data/

small_samanantar/
Indian_Languages_Audio_Dataset/
models/


*.h5
*.pth
*.pt
*.ckpt
*.pkl

*.mp3
*.wav

*.jpg
*.jpeg
*.png

.ipynb_checkpoints/


models/
dataset/
venv/

*.safetensors
*.bin
*.pt
*.pth
*.h5
*.pkl

__pycache__/
.ipynb_checkpoints/